# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mikkel\Documents\GitHub\Datamatiker_Afleveringer\Programeringseksammen 2020 Aflevering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
